<h1>Candidate List</h1>
 
<table class="table">
  <thead>
    <tr>
      <td>count</td>
      <td>name</td>
      <td>party</td>
      <td>age</td>
      <td>comment</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td>
          <% candidate.vote_logs.size %>
          <%= vote_formal(candidate) %>
          <%= link_to "Vote!", vote_candidate_path(candidate) ,method:"post", class:"btn btn-primary btn-xs" %>
        </td>
        <td><%= link_to candidate.name ,  candidate_path(candidate) %></td>
        <td><%= candidate.party %></td>
        <td><%= candidate.age %></td>
        <td><%= candidate.comment %></td>
        <td><%= link_to "edit" , edit_candidate_path(candidate) , class:"btn btn-success" %></td>
        <td><%= link_to "delete" , candidate_path(candidate) ,method:"delete",data:{confirm:"Are you sure?"} ,class:"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
  </tfoot>
</table>
 
<%= link_to "add candidate", new_candidate_path , class:"btn btn-info" %> <br/>
