<h1> Show Candidate</h1>

Name:<%= @candidate.name %> <br/>
Party:<%= @candidate.party %> <br/>
Age:<%= @candidate.age %> <br/>
Comment:<%= @candidate.comment %> <br/>

<%= show_your_age(@candidate.age) %>
